<h1>Cute Emoticons!</h1>
<div id="popup">
    <div id="popup-content">
        <h3>Welcome!</h3>
        <p>This website displays a grand total of FIVE cute emoticons! :D</p>
    </div>
</div>

<ul class="emoticon-box">
    {{#each emojis}}
    <li>{{one}} {{two}} {{three}} {{four}} {{five}}</li>
    {{/each}}
</ul>