<div id="popup">
    <div id="popup-content">
        <h3>Welcome!</h3>
        <p>This website displays a grand total of FIVE cute emoticons! :D</p>
        <button id="close-popup">Close</button>
    </div>
</div>

{{#each emojis}}
<p>{{one}}</p>
<p>{{two}}</p>
<p>{{three}}</p>
<p>{{four}}</p>
<p>{{five}}</p>
{{/each}}